{% extends "pack/layout.html" %}
{% load static %}

{% block body %}

<div class="container">

    <div class="row d-flex justify-content-center p-5">
    </div>

    <div class="row d-flex justify-content-center p-5">
    </div>

    <div class="row d-flex justify-content-center">

        <div class="col-sm-4 p-4">

            <div class="text-center">
                <h2>PackBuilder</h2>
            </div>

            {% if message %}
            <div class="alert alert-danger text-center" role="alert">
                {{ message }}
            </div>
            {% endif %} 
        
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="form-group mt-2">
                    <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group mt-2">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <input class="btn btn-primary mt-2 w-100" type="submit" value="Login">
            </form>

            <hr>

            <a class="btn btn-secondary w-100" href="{% url 'register' %}">Register here</a>
        
        </div>
    
    </div>

</div>

{% endblock %}